body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#pane {
    margin: 0 auto;
    display: block;
}

#content {
    position: relative;
}

.picker-handler {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1px black solid;
}
